In [1]:
import pandas as pd
import numpy as np

In [5]:
#activacionn de la corteza pre-frontal al escoger una eleccion de helado 
experimento={
    'sujeto':['S01','S02','S03','S02', 'S01','S01', 'S02'],
    'sabor':['choco','piñon', 'queso','chango','choco', 'queso', 'angel'],
    'precio':[45,105,30,60, 85, 45, 120],
    'tamaño':['m','g','ch','ch','g','m','g']
}

In [9]:
display(experimento)

{'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
 'sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
 'precio': [45, 105, 30, 60, 85, 45, 120],
 'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']}

In [10]:
df=pd.DataFrame(experimento)

In [13]:
df['activacion']= [True,True,False,False,True, True, False]

In [14]:
df

  sujeto   sabor  precio tamaño  activacion
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m        True
6    S02   angel     120      g       False

In [15]:
df.sujeto

0    S01
1    S02
2    S03
3    S02
4    S01
5    S01
6    S02
Name: sujeto, dtype: object

In [16]:
df['precio']>100

0    False
1     True
2    False
3    False
4    False
5    False
6     True
Name: precio, dtype: bool

In [17]:
df[df['sujeto']=='S01']

  sujeto  sabor  precio tamaño  activacion
0    S01  choco      45      m        True
4    S01  choco      85      g        True
5    S01  queso      45      m        True

In [18]:
df[df['sujeto']=='S02']

  sujeto   sabor  precio tamaño  activacion
1    S02   piñon     105      g        True
3    S02  chango      60     ch       False
6    S02   angel     120      g       False

In [19]:
df[df['sujeto']=='S03']

  sujeto  sabor  precio tamaño  activacion
2    S03  queso      30     ch       False

In [20]:
df.groupby(by='sujeto')

In [34]:
df_por_sujeto=df.groupby(by='sujeto')
df_por_sujeto.describe()

       precio
        count       mean        std   min   25%    50%    75%    max
sujeto
S01       3.0  58.333333  23.094011  45.0  45.0   45.0   65.0   85.0
S02       3.0  95.000000  31.224990  60.0  82.5  105.0  112.5  120.0
S03       1.0  30.000000        NaN  30.0  30.0   30.0   30.0   30.0

In [35]:
df_por_sujeto=df.groupby(by='sujeto')
df_por_sujeto.describe(include='all')

       sabor                                                   ... activacion  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          1
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [39]:
tipos_sujetos = ['S' + str(i).zfill(2) for i in range(4)]
generos= ['M','F']
condicion=['control', 'experimental']
region=['hipocampo','cortex prefrontal', 'amigdala']
neurotransmisores=['dopamina','serotonina']

#Crea un dataframe de 200 filas)
#con las columnas tipo_sujetos, genero,condicion, region, neurotransmisor,
#estas clumnas debe de tener distribucion normal 
#agragar columna llamda "presion" q tenga una distribucion normal con med 0.92 y sigma 0.8
#Este data pretende simular los resultados de un estudio en el que se mide variable congnitivo
#y fisiologicamente difernete s regiones cerebrales, sujetos y condiciones experiemntales

In [60]:
import numpy as np

tipos_sujetos = ['S' + str(i).zfill(2) for i in range(4)]

longitud = 200
enteros = np.random.randint(0, 4, size=longitud)
sujetos = ['S' + str(i).zfill(2) for i in enteros]
display(sujetos)

['S00',
 'S00',
 'S00',
 'S00',
 'S02',
 'S02',
 'S02',
 'S01',
 'S03',
 'S00',
 'S01',
 'S02',
 'S02',
 'S02',
 'S03',
 'S01',
 'S01',
 'S00',
 'S01',
 'S02',
 'S02',
 'S01',
 'S02',
 'S00',
 'S02',
 'S00',
 'S03',
 'S02',
 'S03',
 'S02',
 'S00',
 'S00',
 'S01',
 'S00',
 'S00',
 'S03',
 'S01',
 'S03',
 'S03',
 'S02',
 'S03',
 'S02',
 'S00',
 'S00',
 'S02',
 'S01',
 'S02',
 'S03',
 'S00',
 'S02',
 'S01',
 'S03',
 'S00',
 'S00',
 'S00',
 'S00',
 'S01',
 'S02',
 'S00',
 'S03',
 'S01',
 'S03',
 'S02',
 'S01',
 'S02',
 'S01',
 'S03',
 'S03',
 'S01',
 'S01',
 'S03',
 'S01',
 'S00',
 'S01',
 'S03',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S01',
 'S01',
 'S00',
 'S00',
 'S02',
 'S00',
 'S02',
 'S02',
 'S02',
 'S00',
 'S00',
 'S02',
 'S02',
 'S01',
 'S01',
 'S03',
 'S00',
 'S00',
 'S01',
 'S03',
 'S03',
 'S03',
 'S00',
 'S03',
 'S02',
 'S01',
 'S00',
 'S02',
 'S00',
 'S00',
 'S01',
 'S03',
 'S00',
 'S00',
 'S02',
 'S00',
 'S00',
 'S03',
 'S03',
 'S00',
 'S01',
 'S00',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S02',
 'S00',
 'S00',
 'S01',
 'S02',
 'S03',
 'S01',
 'S03',
 'S00',
 'S00',
 'S02',
 'S01',
 'S02',
 'S00',
 'S00',
 'S03',
 'S00',
 'S01',
 'S02',
 'S01',
 'S03',
 'S02',
 'S00',
 'S00',
 'S00',
 'S03',
 'S03',
 'S03',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S00',
 'S03',
 'S01',
 'S01',
 'S02',
 'S03',
 'S00',
 'S03',
 'S03',
 'S02',
 'S02',
 'S01',
 'S00',
 'S02',
 'S00',
 'S03',
 'S00',
 'S00',
 'S02',
 'S00',
 'S01',
 'S03',
 'S00',
 'S00',
 'S01',
 'S01',
 'S03',
 'S01',
 'S03',
 'S01',
 'S02',
 'S03',
 'S02',
 'S02',
 'S02',
 'S00',
 'S03',
 'S01',
 'S01',
 'S01']

In [63]:
tipos_sujetos = ['S' + str(i).zfill(2) for i in range(4)]
longitud = 200
ops_sujetos=np.random.randint(len(tipos_sujetos) ,size=longitud)
sujetos2= ['S' + str(i).zfill(2) for i in ops_sujetos]

sujetos2

['S01',
 'S00',
 'S02',
 'S02',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S00',
 'S00',
 'S01',
 'S03',
 'S03',
 'S02',
 'S01',
 'S03',
 'S01',
 'S01',
 'S03',
 'S03',
 'S01',
 'S01',
 'S03',
 'S02',
 'S01',
 'S00',
 'S01',
 'S03',
 'S00',
 'S02',
 'S01',
 'S00',
 'S01',
 'S02',
 'S00',
 'S00',
 'S02',
 'S01',
 'S01',
 'S03',
 'S03',
 'S00',
 'S01',
 'S00',
 'S02',
 'S01',
 'S01',
 'S01',
 'S03',
 'S02',
 'S01',
 'S02',
 'S03',
 'S00',
 'S03',
 'S01',
 'S03',
 'S03',
 'S00',
 'S02',
 'S00',
 'S03',
 'S02',
 'S00',
 'S03',
 'S00',
 'S00',
 'S03',
 'S00',
 'S02',
 'S03',
 'S03',
 'S01',
 'S00',
 'S00',
 'S01',
 'S00',
 'S02',
 'S00',
 'S02',
 'S02',
 'S03',
 'S00',
 'S01',
 'S00',
 'S00',
 'S02',
 'S02',
 'S00',
 'S03',
 'S03',
 'S00',
 'S00',
 'S03',
 'S02',
 'S01',
 'S00',
 'S02',
 'S03',
 'S01',
 'S03',
 'S02',
 'S02',
 'S03',
 'S03',
 'S02',
 'S03',
 'S01',
 'S03',
 'S00',
 'S02',
 'S01',
 'S01',
 'S02',
 'S02',
 'S00',
 'S01',
 'S00',
 'S02',
 'S02',
 'S00',
 'S00',
 'S01',
 'S03',
 'S00',
 'S03',
 'S01',
 'S01',
 'S01',
 'S03',
 'S01',
 'S03',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S00',
 'S01',
 'S01',
 'S01',
 'S00',
 'S03',
 'S02',
 'S02',
 'S00',
 'S02',
 'S02',
 'S02',
 'S03',
 'S02',
 'S02',
 'S02',
 'S00',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S03',
 'S01',
 'S01',
 'S01',
 'S02',
 'S03',
 'S01',
 'S00',
 'S02',
 'S00',
 'S03',
 'S00',
 'S03',
 'S03',
 'S01',
 'S01',
 'S03',
 'S03',
 'S03',
 'S03',
 'S02',
 'S00',
 'S00',
 'S02',
 'S02',
 'S03',
 'S01',
 'S02',
 'S00',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02']

In [72]:

generos = ['M','F']
longitud = 200
ops_generos = np.random.randint(len(generos), size=longitud)
gen = []
for x in ops_generos:  
    if x == 0:
        gen.append('M')
    else:
        gen.append('F')

generos

['M', 'F']

In [75]:

generos = ['M','F']
longitud = 200
ops_gens = np.random.randint(len(generos), size=longitud)
lista_generos = [generos[i] for i in ops_gens]

generos

['M', 'F']

In [78]:

condicion=['control', 'experimental']
longitud = 200
ops_cond = np.random.randint(len(condicion), size=longitud)
lista_condiciones = [condicion[i] for i in ops_cond]

condicion

['control', 'experimental']

In [80]:
region=['hipocampo','cortex prefrontal', 'amigdala']
longitud = 200
ops_reg = np.random.randint(len(region), size=longitud)
lista_regiones = [region[i] for i in ops_reg]

region

['hipocampo', 'cortex prefrontal', 'amigdala']

In [ ]:
longitud= 200
variables = [tipo_sujeto, genero, condicon, region,  neurotransmisor,]
data=[]

for variables i variables

In [56]:
df = pd.DataFrame({
    "tipo_sujeto": np.random.choice(tipos_sujetos),
    "genero": np.random.choice(generos),
    "condicion": np.random.choice(condicion),
    "region": np.random.choice(region),
    "neurotransmisor": np.random.choice(neurotransmisores),
    "presion": np.random.normal(loc=0.92, scale=0.8, size=200)  
})

display (df)
display (df.describe())

    tipo_sujeto genero     condicion    region neurotransmisor   presion
0           S00      F  experimental  amigdala      serotonina  1.847203
1           S00      F  experimental  amigdala      serotonina  2.122150
2           S00      F  experimental  amigdala      serotonina  0.764872
3           S00      F  experimental  amigdala      serotonina  0.555572
4           S00      F  experimental  amigdala      serotonina  2.878209
..          ...    ...           ...       ...             ...       ...
195         S00      F  experimental  amigdala      serotonina  0.131967
196         S00      F  experimental  amigdala      serotonina  2.179895
197         S00      F  experimental  amigdala      serotonina -0.600396
198         S00      F  experimental  amigdala      serotonina  1.340041
199         S00      F  experimental  amigdala      serotonina  1.171962

[200 rows x 6 columns]

          presion
count  200.000000
mean     0.911800
std      0.802134
min     -1.082060
25%      0.420877
50%      0.980461
75%      1.496253
max      2.904365

In [ ]:
#generar el histograma de cuantos datos por sujeto se tiene
#mostrar histograma la proporcion de neurotransmisor