In [8]:
import pandas as pd
import numpy as np

In [11]:
experimento = {
    'sujeto': ['S01','S02','S03','S02','S01','S01','S02'],
    'sabor': ['choco','piñon','queso','chango','choco','queso','angel'],
    'precio':[45,105,30,60,85,45,120],
    'tamaño':['m','g','ch','ch','g','m','g']
}

In [12]:
experimento

{'sujeto': ['S01', 'S02', 'S03', 'S02', 'S01', 'S01', 'S02'],
 'sabor': ['choco', 'piñon', 'queso', 'chango', 'choco', 'queso', 'angel'],
 'precio': [45, 105, 30, 60, 85, 45, 120],
 'tamaño': ['m', 'g', 'ch', 'ch', 'g', 'm', 'g']}

In [13]:
df= pd.DataFrame(experimento)

In [14]:
df

  sujeto   sabor  precio tamaño
0    S01   choco      45      m
1    S02   piñon     105      g
2    S03   queso      30     ch
3    S02  chango      60     ch
4    S01   choco      85      g
5    S01   queso      45      m
6    S02   angel     120      g

In [16]:
df['activación'] = [True, True, False,False,True,True,False]
df

### para añadir una nueva columna

  sujeto   sabor  precio tamaño  activación
0    S01   choco      45      m        True
1    S02   piñon     105      g        True
2    S03   queso      30     ch       False
3    S02  chango      60     ch       False
4    S01   choco      85      g        True
5    S01   queso      45      m        True
6    S02   angel     120      g       False

In [18]:
df['sujeto']
## para filtrar una columna

0    S01
1    S02
2    S03
3    S02
4    S01
5    S01
6    S02
Name: sujeto, dtype: object

In [21]:
## filtrado especifico
df [df['precio'] > 100]

  sujeto  sabor  precio tamaño  activación
1    S02  piñon     105      g        True
6    S02  angel     120      g       False

In [22]:
df [df['sujeto'] == 'S01']

  sujeto  sabor  precio tamaño  activación
0    S01  choco      45      m        True
4    S01  choco      85      g        True
5    S01  queso      45      m        True

In [23]:
df [df['sujeto'] == 'S02']

  sujeto   sabor  precio tamaño  activación
1    S02   piñon     105      g        True
3    S02  chango      60     ch       False
6    S02   angel     120      g       False

In [24]:
df [df['sujeto'] == 'S03']

  sujeto  sabor  precio tamaño  activación
2    S03  queso      30     ch       False

In [25]:
df.groupby(by = 'sujeto')

In [27]:
df_por_sujeto = df.groupby(by='sujeto')
df_por_sujeto.describe()

       precio
        count       mean        std   min   25%    50%    75%    max
sujeto
S01       3.0  58.333333  23.094011  45.0  45.0   45.0   65.0   85.0
S02       3.0  95.000000  31.224990  60.0  82.5  105.0  112.5  120.0
S03       1.0  30.000000        NaN  30.0  30.0   30.0   30.0   30.0

In [29]:
df_por_sujeto = df.groupby(by='sujeto')
df_por_sujeto.describe(include='all')

## hay muchos NaN porque no puedes establecer la media para datos no numericos

       sabor                                                   ... activación  \
       count unique    top freq mean  std  min  25%  50%  75%  ...     unique
sujeto                                                         ...
S01        3      2  choco    2  NaN  NaN  NaN  NaN  NaN  NaN  ...          1
S02        3      3  piñon    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          2
S03        1      1  queso    1  NaN  NaN  NaN  NaN  NaN  NaN  ...          1


          top freq mean  std  min  25%  50%  75%  max
sujeto
S01      True    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S02     False    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
S03     False    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[3 rows x 44 columns]

In [30]:
df.describe()

          precio
count    7.00000
mean    70.00000
std     33.91165
min     30.00000
25%     45.00000
50%     60.00000
75%     95.00000
max    120.00000

In [31]:
df.describe(include='all')

       sujeto  sabor     precio tamaño activación
count       7      7    7.00000      7          7
unique      3      5        NaN      3          2
top       S01  choco        NaN      g       True
freq        3      2        NaN      3          4
mean      NaN    NaN   70.00000    NaN        NaN
std       NaN    NaN   33.91165    NaN        NaN
min       NaN    NaN   30.00000    NaN        NaN
25%       NaN    NaN   45.00000    NaN        NaN
50%       NaN    NaN   60.00000    NaN        NaN
75%       NaN    NaN   95.00000    NaN        NaN
max       NaN    NaN  120.00000    NaN        NaN

In [35]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
generos = ['M', 'F']
condicion = ['control', 'experimental']
region = ['hipocampo','cortex prefrontal', 'amigdala']
neurotransmisor = ['dopamina','serotonina']

## crea un df de 200 filas
## con las columnas de arriba
## estas columnas denen tener una distribucion normal 
# agregar una columna llamada #precision" que tenga distribucion normal con mu = 0.92, sigma= 0.8

In [32]:
str(5).zfill(5)
crea un string pero rellena los caracteres con zeros

'00005'

In [37]:
tipos_sujetos

['S00', 'S01', 'S02', 'S03']

In [48]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
longitud =200
enteros = np.random.randint (0,4, size=longitud)
sujetos = ['S'+str(i).zfill(2) for i in enteros]
sujetos

['S03',
 'S01',
 'S02',
 'S03',
 'S02',
 'S01',
 'S00',
 'S02',
 'S01',
 'S01',
 'S03',
 'S03',
 'S00',
 'S00',
 'S01',
 'S00',
 'S03',
 'S01',
 'S00',
 'S02',
 'S02',
 'S02',
 'S01',
 'S01',
 'S03',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S01',
 'S00',
 'S00',
 'S01',
 'S03',
 'S03',
 'S02',
 'S01',
 'S01',
 'S01',
 'S03',
 'S03',
 'S01',
 'S02',
 'S01',
 'S01',
 'S03',
 'S02',
 'S01',
 'S00',
 'S02',
 'S03',
 'S01',
 'S01',
 'S01',
 'S00',
 'S01',
 'S01',
 'S01',
 'S02',
 'S00',
 'S00',
 'S03',
 'S00',
 'S02',
 'S00',
 'S01',
 'S00',
 'S03',
 'S01',
 'S00',
 'S02',
 'S01',
 'S01',
 'S00',
 'S03',
 'S03',
 'S01',
 'S01',
 'S00',
 'S02',
 'S00',
 'S03',
 'S03',
 'S03',
 'S03',
 'S00',
 'S01',
 'S01',
 'S01',
 'S01',
 'S00',
 'S01',
 'S03',
 'S02',
 'S01',
 'S02',
 'S01',
 'S03',
 'S00',
 'S01',
 'S01',
 'S00',
 'S00',
 'S01',
 'S01',
 'S02',
 'S03',
 'S02',
 'S00',
 'S03',
 'S01',
 'S02',
 'S03',
 'S01',
 'S03',
 'S02',
 'S02',
 'S02',
 'S02',
 'S01',
 'S00',
 'S02',
 'S01',
 'S00',
 'S01',
 'S01',
 'S02',
 'S02',
 'S01',
 'S03',
 'S03',
 'S02',
 'S00',
 'S02',
 'S03',
 'S03',
 'S00',
 'S00',
 'S00',
 'S00',
 'S01',
 'S03',
 'S02',
 'S01',
 'S03',
 'S03',
 'S03',
 'S01',
 'S01',
 'S02',
 'S01',
 'S03',
 'S02',
 'S02',
 'S01',
 'S03',
 'S01',
 'S00',
 'S02',
 'S00',
 'S01',
 'S01',
 'S03',
 'S01',
 'S03',
 'S00',
 'S00',
 'S00',
 'S01',
 'S01',
 'S00',
 'S00',
 'S03',
 'S00',
 'S01',
 'S00',
 'S00',
 'S00',
 'S02',
 'S00',
 'S00',
 'S03',
 'S02',
 'S02',
 'S03',
 'S02',
 'S03',
 'S02',
 'S00',
 'S03',
 'S00',
 'S00',
 'S03',
 'S03',
 'S02',
 'S00',
 'S01',
 'S00']

In [52]:
tipos_sujetos = ['S'+str(i).zfill(2) for i in range(4)]
longitud=200
ops_sujetos =np.random.randint (len(tipos_sujetos),size=longitud)
sujetos2= [tipos_sujetos[i] for i in ops_sujetos]
sujetos2

### otra forma

['S03',
 'S03',
 'S00',
 'S01',
 'S02',
 'S01',
 'S01',
 'S02',
 'S02',
 'S00',
 'S00',
 'S02',
 'S02',
 'S02',
 'S01',
 'S02',
 'S03',
 'S00',
 'S00',
 'S02',
 'S01',
 'S00',
 'S02',
 'S03',
 'S03',
 'S00',
 'S02',
 'S02',
 'S02',
 'S01',
 'S02',
 'S01',
 'S01',
 'S00',
 'S02',
 'S03',
 'S03',
 'S03',
 'S02',
 'S02',
 'S03',
 'S00',
 'S03',
 'S03',
 'S02',
 'S01',
 'S02',
 'S02',
 'S02',
 'S02',
 'S03',
 'S02',
 'S00',
 'S01',
 'S01',
 'S00',
 'S00',
 'S03',
 'S01',
 'S01',
 'S01',
 'S02',
 'S01',
 'S00',
 'S00',
 'S00',
 'S03',
 'S01',
 'S03',
 'S00',
 'S02',
 'S00',
 'S00',
 'S01',
 'S00',
 'S02',
 'S02',
 'S00',
 'S02',
 'S02',
 'S03',
 'S00',
 'S02',
 'S02',
 'S00',
 'S03',
 'S01',
 'S02',
 'S00',
 'S00',
 'S01',
 'S03',
 'S02',
 'S03',
 'S03',
 'S03',
 'S00',
 'S01',
 'S01',
 'S02',
 'S03',
 'S01',
 'S01',
 'S01',
 'S02',
 'S00',
 'S02',
 'S00',
 'S03',
 'S02',
 'S01',
 'S03',
 'S00',
 'S02',
 'S02',
 'S03',
 'S01',
 'S02',
 'S02',
 'S00',
 'S02',
 'S01',
 'S00',
 'S03',
 'S02',
 'S01',
 'S00',
 'S01',
 'S00',
 'S01',
 'S00',
 'S00',
 'S03',
 'S00',
 'S00',
 'S00',
 'S00',
 'S02',
 'S00',
 'S03',
 'S03',
 'S01',
 'S02',
 'S03',
 'S00',
 'S00',
 'S01',
 'S01',
 'S03',
 'S02',
 'S00',
 'S02',
 'S01',
 'S01',
 'S01',
 'S00',
 'S00',
 'S02',
 'S03',
 'S03',
 'S01',
 'S03',
 'S01',
 'S03',
 'S01',
 'S02',
 'S02',
 'S02',
 'S00',
 'S03',
 'S01',
 'S03',
 'S02',
 'S00',
 'S03',
 'S00',
 'S02',
 'S00',
 'S00',
 'S00',
 'S00',
 'S03',
 'S01',
 'S01',
 'S02',
 'S01',
 'S00',
 'S03',
 'S01',
 'S02',
 'S02',
 'S03',
 'S02',
 'S00',
 'S03',
 'S00',
 'S03',
 'S02',
 'S02',
 'S00']

In [63]:
generos = ['M', 'F']
longitud=200
ops_generos = np.random.randint(len(generos),size=longitud)
gen = []
for x in ops_generos:
    if x == 0:
        gen.append('M')
    else:
        gen.append('F')
gen

['F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F']

In [60]:
generos = ['M', 'F']
longitud=200
ops_gens = np.random.randint(len(generos),size=longitud)
lista_generos = [generos[i] for i in ops_gens]
lista_generos

['F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'F',
 'M',
 'M',
 'M',
 'F',
 'M',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'M',
 'F',
 'F',
 'M',
 'F',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'F',
 'M',
 'F',
 'M',
 'M',
 'F',
 'M',
 'F',
 'F',
 'F',
 'M',
 'F',
 'F',
 'M']

In [65]:
condicion = ['control', 'experimental']
longitud=200
ops_cond = np.random.randint(len(condicion),size=longitud)
lista_condicion = [condicion[i] for i in ops_cond]
lista_condicion

['experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'experimental',
 'experimental',
 'experimental',
 'experimental',
 'control',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental',
 'control',
 'experimental',
 'control',
 'control',
 'experimental']

In [66]:
region = ['hipocampo','cortex prefrontal', 'amigdala']
longitud=200
ops_reg = np.random.randint(len(region),size=longitud)
lista_region = [region[i] for i in ops_reg]
lista_region

['cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'amigdala',
 'hipocampo',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'cortex prefrontal',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'amigdala',
 'cortex prefrontal',
 'cortex prefrontal',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala',
 'amigdala',
 'amigdala',
 'cortex prefrontal',
 'hipocampo',
 'cortex prefrontal',
 'amigdala',
 'hipocampo',
 'hipocampo',
 'hipocampo',
 'amigdala']

In [ ]:

neurotransmisor = ['dopamina','serotonina']