In [ ]:
#Hay que hacer en github desktop update from main y fetch origin para que el archivo excel aparezca en la carpeta datasets

In [1]:
import pandas as pd

In [4]:
path = r"C:\Users\Juan\Documents\GitHub\Neurociencias-2026-1\S03_datasets\EEG.xlsx"
excel = pd.read_excel(path) #Leer archivo de excel, r al inicio de la ruta para que se interprete como ruta y no como texto
#para que esto funcione hay que abrir cmd, y escribir: py -m pip install openpyxl

In [5]:
excel

  Unnamed: 0    F3    F4    C3    C4    P3    P4    O1    O2
0         F3  1.00  0.58  0.46  0.40  0.22  0.18  0.12  0.10
1         F4  0.58  1.00  0.44  0.39  0.20  0.17  0.11  0.09
2         C3  0.46  0.44  1.00  0.62  0.25  0.22  0.13  0.11
3         C4  0.40  0.39  0.62  1.00  0.23  0.21  0.12  0.10
4         P3  0.22  0.20  0.25  0.23  1.00  0.55  0.28  0.20
5         P4  0.18  0.17  0.22  0.21  0.55  1.00  0.27  0.19
6         O1  0.12  0.11  0.13  0.12  0.28  0.27  1.00  0.48
7         O2  0.10  0.09  0.11  0.10  0.20  0.19  0.48  1.00

In [6]:
type(excel) #el archivo de excel ahora es un dataframe

pandas.core.frame.DataFrame

In [10]:
pd.read_excel(path, sheet_name="coherence_chbmit_interictal") #Para especificar que hoja del excel utilice

  Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
0        FP1  1.00  0.25  0.18  0.12  0.10  0.09  0.07  0.06
1         F7  0.25  1.00  0.20  0.15  0.12  0.10  0.08  0.07
2         T3  0.18  0.20  1.00  0.28  0.22  0.18  0.11  0.10
3         C3  0.12  0.15  0.28  1.00  0.30  0.25  0.12  0.11
4         C4  0.10  0.12  0.22  0.30  1.00  0.35  0.14  0.13
5         T4  0.09  0.10  0.18  0.25  0.35  1.00  0.13  0.12
6         F8  0.07  0.08  0.11  0.12  0.14  0.13  1.00  0.40
7        FP2  0.06  0.07  0.10  0.11  0.13  0.12  0.40  1.00

In [14]:
excel_dict = pd.read_excel(path, sheet_name=None) #poniendole none en sheet name hace cada hoja key en un diccionario y lo que está dentro
#de esas ojas el value asocidado a esas keys
print(type(excel_dict))
excel_dict

<class 'dict'>

{'coherence_motorimagery_alpha':   Unnamed: 0    F3    F4    C3    C4    P3    P4    O1    O2
 0         F3  1.00  0.58  0.46  0.40  0.22  0.18  0.12  0.10
 1         F4  0.58  1.00  0.44  0.39  0.20  0.17  0.11  0.09
 2         C3  0.46  0.44  1.00  0.62  0.25  0.22  0.13  0.11
 3         C4  0.40  0.39  0.62  1.00  0.23  0.21  0.12  0.10
 4         P3  0.22  0.20  0.25  0.23  1.00  0.55  0.28  0.20
 5         P4  0.18  0.17  0.22  0.21  0.55  1.00  0.27  0.19
 6         O1  0.12  0.11  0.13  0.12  0.28  0.27  1.00  0.48
 7         O2  0.10  0.09  0.11  0.10  0.20  0.19  0.48  1.00,
 'coherence_chbmit_interictal':   Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
 0        FP1  1.00  0.25  0.18  0.12  0.10  0.09  0.07  0.06
 1         F7  0.25  1.00  0.20  0.15  0.12  0.10  0.08  0.07
 2         T3  0.18  0.20  1.00  0.28  0.22  0.18  0.11  0.10
 3         C3  0.12  0.15  0.28  1.00  0.30  0.25  0.12  0.11
 4         C4  0.10  0.12  0.22  0.30  1.00  0.35  0.14  0.13
 5         T4  0.09  0.10  0.18  0.25  0.35  1.00  0.13  0.12
 6         F8  0.07  0.08  0.11  0.12  0.14  0.13  1.00  0.40
 7        FP2  0.06  0.07  0.10  0.11  0.13  0.12  0.40  1.00,
 'coherence_chbmit_ictal':   Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
 0        FP1  1.00  0.48  0.42  0.35  0.32  0.30  0.20  0.18
 1         F7  0.48  1.00  0.45  0.38  0.35  0.33  0.22  0.20
 2         T3  0.42  0.45  1.00  0.58  0.52  0.48  0.28  0.26
 3         C3  0.35  0.38  0.58  1.00  0.60  0.55  0.30  0.28
 4         C4  0.32  0.35  0.52  0.60  1.00  0.62  0.33  0.30
 5         T4  0.30  0.33  0.48  0.55  0.62  1.00  0.31  0.29
 6         F8  0.20  0.22  0.28  0.30  0.33  0.31  1.00  0.45
 7        FP2  0.18  0.20  0.26  0.28  0.30  0.29  0.45  1.00}

In [15]:
excel_dict["coherence_chbmit_interictal"] #y se puede obtener cada hoja

  Unnamed: 0   FP1    F7    T3    C3    C4    T4    F8   FP2
0        FP1  1.00  0.25  0.18  0.12  0.10  0.09  0.07  0.06
1         F7  0.25  1.00  0.20  0.15  0.12  0.10  0.08  0.07
2         T3  0.18  0.20  1.00  0.28  0.22  0.18  0.11  0.10
3         C3  0.12  0.15  0.28  1.00  0.30  0.25  0.12  0.11
4         C4  0.10  0.12  0.22  0.30  1.00  0.35  0.14  0.13
5         T4  0.09  0.10  0.18  0.25  0.35  1.00  0.13  0.12
6         F8  0.07  0.08  0.11  0.12  0.14  0.13  1.00  0.40
7        FP2  0.06  0.07  0.10  0.11  0.13  0.12  0.40  1.00